<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--Input PATH start-->
    <add key="path_inp_b1" value="Data\AdjecencyMatrix.inp" />
    <add key="path_inp_b2" value="Data\BacVaoRa.inp" />
    <add key="path_inp_b3" value="Data\AdjecencyList.inp" />
    <add key="path_inp_b4" value="Data\EdgeList.inp" />
    <!--Input PATH end-->
    <!--Output PATH start-->
    <add key="path_out_b1" value="Output\AdjecencyMatrix.out" />
    <add key="path_out_b2" value="Output\BacVaoRa.out" />
    <add key="path_out_b3" value="Output\AdjecencyList.out" />
    <add key="path_out_b4" value="Output\EdgeList.out" />
    <!--Output PATH end-->
  </appSettings>
</configuration>